# Import Libraries

In [18]:
# importing libraries
import pandas as pd
import numpy as np
import os

# Import Dataframes

In [19]:
# Defining path
path = '/Users/tannu/Desktop/Data Analytics/Instacart Basket Analysis Dec-2025 '

In [20]:
# importing 'orders_products_prior' dataset
df_ords_prior = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [21]:
# importing current 'orders' dataset
df_ords = pd.read_csv(os.path.join(path, '2 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [22]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
# checking for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [24]:
# Checking for duplicates
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [25]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [26]:
df_ords.shape

(3421083, 6)

In [27]:
df_ords_prior.shape

(32434489, 4)

In [28]:
# merging the two dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [29]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [30]:
# checking the frequency for column '_merge'
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [33]:
# exporting the combined dataframe as a pickle
df_merged_large.to_pickle(os.path.join(path, '2 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [32]:
df_merged_large.shape

(32434489, 10)