# Importing Libraries

In [3]:
# importing libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [4]:
# setting a path
path = '/Users/tannu/Desktop/Data Analytics/Instacart Basket Analysis Dec-2025 '

In [5]:
# importing data
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '2 Data', 'Prepared Data', 'ords_prods_merge_new.pkl'))

In [6]:
# creating a subset of the first million rows
df = df_ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 17)

In [8]:
df.head(2)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,busiest_day,busiest_hours
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly Busy,Most Orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly Busy,Average Orders

# Grouping Data

In [9]:
# grouping data
df.groupby('product_name')

# Aggregating Data

In [10]:
# grouping bu 'department_id' and aggregating mean of 'order_number'
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [11]:
# performing multiple aggregation
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

In [12]:
# aggregating data with transform()
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/z8/12vdbzn57fx_ky9_g3vm3lv80000gn/T/ipykernel_23030/3596540814.py:2: FutureWarning: The provided callable <function max at 0x11b441620> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,busiest_day,busiest_hours,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly Busy,Most Orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly Busy,Average Orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest Day,Average Orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly Busy,Most Orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least Busy,Average Orders,3

In [14]:
df_ords_prods_merge['max_order'].value_counts(dropna = False)

max_order
99    1171333
8      811843
6      811396
9      810213
7      803979
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [ ]:
df_ords_prods_merge.head(100)

# Deriving a New Column

In [34]:
# creating a new column using the loc() function
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']>40, 'loyalty_flag'] = 'Loyal Customer'

In [35]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order']<=40) & (df_ords_prods_merge['max_order']>10), 'loyalty_flag'] = 'Regular Customer'

In [36]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']<=10, 'loyalty_flag'] = 'New Customer'

In [37]:
df_ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_the_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range', 'busiest_day', 'busiest_hours',
       'max_order', 'loyalty_flag'],
      dtype='object')

In [40]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [45]:
# Displaying the top 60 rows of only the columns specified
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular Customer            28
1       138  Regular Customer            30
2       709      New Customer             2
3       764      New Customer             1
4       764      New Customer             3
5       777  Regular Customer            16
6       825      New Customer             3
7       910  Regular Customer            12
8      1052  Regular Customer            10
9      1052  Regular Customer            15
10     1379      New Customer             1
11     1480    Loyal Customer            36
12     1480    Loyal Customer            38
13     1480    Loyal Customer            39
14     1494  Regular Customer             6
15     1494  Regular Customer             7
16     1494  Regular Customer             9
17     1540  Regular Customer             4
18     1540  Regular Customer             5
19     1540  Regular Customer             6
20     1540  Regular Customer             7
21     1540  Regular Customer             8
22     1540  Regular Customer             9
23     1540  Regular Customer            14
24     1540  Regular Customer            15
25     1540  Regular Customer            18
26     1540  Regular Customer            19
27     1540  Regular Customer            20
28     1540  Regular Customer            21
29     1540  Regular Customer            22
30     1540  Regular Customer            24
31     1540  Regular Customer            25
32     1540  Regular Customer            27
33     1540  Regular Customer            28
34     1598      New Customer             1
35     1598      New Customer             2
36     1598      New Customer             3
37     1647      New Customer             1
38     1647      New Customer             4
39     1647      New Customer             6
40     1647      New Customer             8
41     1647      New Customer             9
42     2833      New Customer             1
43     2850  Regular Customer             7
44     2857  Regular Customer            24
45     3010  Regular Customer             5
46     3029      New Customer             1
47     3395      New Customer             4
48     3904      New Customer             1
49     4006    Loyal Customer             2
50     4006    Loyal Customer             3
51     4006    Loyal Customer             5
52     4006    Loyal Customer             9
53     4006    Loyal Customer            12
54     4122  Regular Customer            11
55     4141      New Customer             2
56     4343      New Customer             1
57     4553      New Customer             3
58     4845  Regular Customer             6
59     6866      New Customer             1

In [46]:
df_ords_prods_merge.head(2)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,busiest_day,busiest_hours,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly Busy,Most Orders,32,Regular Customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly Busy,Average Orders,32,Regular Customer