# Import Libraries

In [2]:
# importing libraries for analysis & visualizations

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Import Data

In [ ]:
# importing data
path = '/Users/tannu/Desktop/Data Analytics/Instacart Basket Analysis Dec-2025 '
df = pd.read_parquet(os.path.join(path, '2 Data', 'Prepared Data', 'cust_ords_prods_merge.parquet'))

In [6]:
df.head(2)

,user_id,first_name,surname,gender,state,age,date_joined,number_of_dependants,marital_status,income,...,price_range,busiest_day,busiest_hours,max_order,loyalty_flag,average_spent,spending_flag,order_frequency,order_frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly Busy,Most Orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly Busy,Most Orders,8,New Customer,7.988889,Low Spender,19.0,Regular Customer,both

## Bar Chart

In [ ]:
# creating a bar chart to display the order density by day of the week
bar = df['orders_day_of_the_week'].value_counts().plot.bar(color = 'indianred')

In [10]:
# exporting the above bar chart
bar.figure.savefig(os.path.join(path, '4 Analysis', 'Visualizations', 'bar_dow.png'))

## Histogram

In [ ]:
# creating a histogram for the variable 'prices'
hist = df['prices'].plot.hist(bins = 80, color = 'indianred')

In [ ]:
# understanding the 'prices' column values
df['prices'].describe()

#### The max value seems off for an instacart app. We will try plotting a scatterplot to assess outliers

## Scatterplot

In [ ]:
# plotting a scatterplot
sns.scatterplot(x = 'prices', y = 'prices',data = df)

In [ ]:
df.loc[df['prices'] > 100]

In [4]:
# clearing these prices are a mistake so we'll replace them with NaN
df.loc[df['prices'] > 100, 'prices'] = np.nan

In [5]:
# checking for maximum price again to see if nan values are assigned to the variable for the condition specified
df['prices'].max()

25.0

In [6]:
# exporting the new dataset
df.to_parquet(os.path.join(path, '2 Data', 'Prepared Data', 'cust_ords_prods.parquet'))